@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  /*Generate tons of colors*/
  --chart-6: 0 0% 0%;
  --chart-7: 0 0% 0%;
  --chart-8: 0 0% 0%;
  --chart-9: 0 0% 0%;
  --chart-10: 0 0% 0%;
  --chart-11: 0 0% 0%;
  --chart-12: 0 0% 0%;
  --chart-13: 0 0% 0%;
  --chart-14: 0 0% 0%;
  --chart-15: 0 0% 0%;
  --chart-16: 0 0% 0%;
  --chart-17: 0 0% 0%;
  --chart-18: 0 0% 0%;
}
